@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink(@SeniorDating.ResourceLanguages.Resource.MyProfile, "Profiles", "Profil", new { id = User.Identity.GetUserId() }, null)</li>
    <li><img height="48" width="48" src="@Url.Action("Image", "Profil", new { id = User.Identity.GetUserId()})" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" /></li>
    <li id="friends"><a href="@Url.Action("Friends", "Friend", new { id = User.Identity.GetUserId() })"> @SeniorDating.ResourceLanguages.Resource.Friends [@ViewBag.requests.Count]</a></li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">@SeniorDating.ResourceLanguages.Resource.Logoff</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@SeniorDating.ResourceLanguages.Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@SeniorDating.ResourceLanguages.Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
