@model IEnumerable<SeniorDating.Models.ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Senior Dating</h1>
    <p class="lead">Senior Dating is a datesite for people over 65 years.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Try it out!</h2>
        <p>
            It's very hard for old people to meet new people. This site can help you to find the love of your life.
        </p>

    </div>
</div>
@if (Request.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) - @Html.ActionLink("Besök", "Edit")
                </td>
            </tr>
        }
    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) - @Html.ActionLink("Besök", "Register", "Account")
            </td>
        </tr>
    }
    </table>
}