@model IEnumerable<SeniorDating.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>


    <div class="homeImage">
        <h1>Senior Dating</h1>
        <p class="lead">@SeniorDating.ResourceLanguages.Resource.Subhead</p>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>@SeniorDating.ResourceLanguages.Resource.Tryitout</h2>
            <p>
                @SeniorDating.ResourceLanguages.Resource.Text
            </p>

        </div>
    </div>

    @using (Html.BeginForm())
    {
        <p>
            @SeniorDating.ResourceLanguages.Resource.SearchUser @Html.TextBox("SearchString") <input type="submit" class="btn btn-info" value="@SeniorDating.ResourceLanguages.Resource.SearchButton" />
        </p>
    }

    @if (Request.IsAuthenticated)
    {
        <table class="table">
            <tr>
                <th>
                    @SeniorDating.ResourceLanguages.Resource.Name
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.HiddenFor(modelItem => item.Id) - @Html.ActionLink(@SeniorDating.ResourceLanguages.Resource.Visit, "OtherProfiles", "Profil", new { id = item.Id.ToString() }, null)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name) - @Html.ActionLink(@SeniorDating.ResourceLanguages.Resource.Visit, "Register", "Account")
                    </td>
                </tr>
            }
        </table>
    }
