@using Microsoft.AspNet.Identity
@model SeniorDating.Models.ApplicationUser
@{
    /**/

    ViewBag.Title = "Profile";
}
<script>
function Hey()
{
    alert('Friend Request sent!');
}
        </script>

<div class="container-fluid">
    <h2>@Html.DisplayFor(m => m.Name)</h2>
</div>
@if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
{
    <a href="@Url.Action("EditProfile", "Profil", new { id = User.Identity.GetUserId() })">
            Edit Profile
            <br />
        </a>
 }
else
{
        <button onclick="location.href='@Url.Action("AddRequest", "Friend", new { id = Model.Id })'; Hey(); ">Add Friend</button>
}

<br />

<div>
    
        <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
    
    <br />

    @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
    {
        using (Html.BeginForm("Picture", "Profil", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <br />
            <input type="file" name="upload" accept=".png,.jpg,.jpeg,.gif,.bmp" />
            <br />
            <input type="submit" value="Upload Picture" />
        }
    }
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Age</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Age)</div>
            <div class="panel-heading">Gender</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Gender)</div>
            <div class="panel-heading">Looking for</div>
            <div class="panel-body">@Html.DisplayFor(m => m.LookingFor)</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
                @Html.DisplayFor(m => m.About)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
             <div class="panel-heading">Messages:</div>
                <div class="panel-body">


                @Html.Partial("../Post1/Index", new SeniorDating.Controllers.PostIndexViewModel(Model.Id))
                    </div>
            </div>
    </div>
</div>

<script>
    function newPost() {
        var txt = $('#message').val().length;
        if (txt > 0) {
            var text = $('#message').val();
            var from = '@User.Identity.GetUserId()';
            var to = '@Model.Id';
            var post = { From: from, To: to, Text: text };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Post","Post", new { httproute = "" })',
                data: JSON.stringify(post),
                contentType: 'application/json',
                datatype: 'json',
                success: function (data) {
                    $('#message').val('');
                    location.reload();
                }
            })
            }
                        else {
                            alert("You need to write a cute message!");
                        }
                        }
                    ;
</script>
<textarea maxlength="50" id="message" rows="3" style="width:400px"></textarea><br />
<input type="button" value="Send Message" onclick="newPost()" />



