@using Microsoft.AspNet.Identity
@model SeniorDating.Models.ApplicationUser
@{
    ViewBag.Title = "Profile";
}

<div class="container-fluid">
    <h2>@Html.DisplayFor(m => m.Name)</h2>
</div>


<br>

<div>

    <img height="200" width="200" src="@Url.Action("Image", "Profil", new { Id = Model.Id })" />

    @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
    {
        using (Html.BeginForm("Picture", "Profil", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="file" name="upload"/>
            <input type="submit" value="Confirm" />
        }
    }
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Age</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Age)</div>
            <div class="panel-heading">Gender</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Gender)</div>
            <div class="panel-heading">Looking for</div>
            <div class="panel-body">@Html.DisplayFor(m => m.LookingFor)</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
                @Html.DisplayFor(m => m.About)
        </div>
    </div>
</div>
</div>

@if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
{
        <span class="right">
            <a href="@Url.Action("EditProfile", "Profil", new { id = User.Identity.GetUserId() })">
                Edit Profile
            </a>
        </span>
    
}



