@using Microsoft.AspNet.Identity
@model SeniorDating.Models.ApplicationUser
@{
    /**/

    ViewBag.Title = "Profile";
}

<head>
    <meta charset="utf-8" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>

<div class="container-fluid">
    <h2>@Html.DisplayFor(m => m.Name)</h2>
</div>
@if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
{
        <button onclick="location.href= '@Url.Action("EditProfile", "Profil", new { id = User.Identity.GetUserId() })'" class="btn btn-info"> Edit Profile </button>
    
    <br />
}
else
{
    <button onclick="location.href='@Url.Action("AddRequest", "Friend", new { id = Model.Id })'; Hey(); " class="btn btn-info">Add Friend</button>
}

<br />

<div id="kolumn1">
    <div class="container">
        <div class="row">
            <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />

            <br />

            @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
            {
                using (Html.BeginForm("Picture", "Profil", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <br />
                    <input type="file"class="btn btn-info" name="upload" accept=".png,.jpg,.jpeg,.gif,.bmp" />
                    <br />
                    <input type="submit" class="btn btn-info" value="Upload Picture" />
                }
            }

        </div>

        <br />

        <div class="row">

            <div class="panel panel-info">
                <div class="panel-heading">Age: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.Age)</div>
                <div class="panel-heading">Gender: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.Gender)</div>
                <div class="panel-heading">Looking for: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.LookingFor)</div>
            </div>

        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">About me: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.About)</div>
                <div class="panel-heading"> Country: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.Country)</div>
                <div class="panel-heading"> City: </div>
                <div class="panel-body">@Html.DisplayFor(m => m.City)</div>
            </div>

        </div>
    </div>
</div>

<div id="kolumn2">
    <div class="container">
        <div class="panel panel-info" style="width: 400px;">
            <div class="panel-heading">Messages:</div>
            <div class="panel-body">
                @Html.Partial("../Post1/Index", new SeniorDating.Controllers.PostIndexViewModel(Model.Id, User.Identity.GetUserId()))
            </div>
        </div>
        <textarea maxlength="50" id="message" rows="3" style="width:400px;"></textarea>
        <br />
        <div class="checkbox">
            <label><input type="checkbox" id="privatemessage" value="" onclick="PrivateLabel();">Private - </label>
            <label id="lblPrivate">Everyone can read this Message.</label>
        </div>
        <div>
            <input type="button" value="Send Message" class="btn btn-info" onclick="newPost()" />
        </div>

        <br />

        <br />
        @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
        {
            <div class="panel panel-info" style="width: 400px;">
                <div class="panel-heading">You have been poked by: <img height="40" width="50" src="http://moziru.com/images/hello-clipart-hand-wave-4.jpg" /></div>
                <div class="panel-body">
                    @Html.Partial("../Poke/Index", new SeniorDating.Controllers.PokeIndexViewModel(Model.Id))
                </div>
            </div>
            <br /> <br />
        }
        else
        {
            <input type="button" value="Poke" class="btn btn-info" onclick="location.href='@Url.Action("Poke", "Poke", new { id = Model.Id })'; Poke();" />
        }

    </div>
</div>

<script>
    function newPost() {
        var txt = $('#message').val().length;
        if (txt > 0) {
            var text = $('#message').val();
            if ($("#privatemessage").is(':checked')) {
                var private = true;
            }
            else {
                var private = false;
            }
            var from = '@User.Identity.GetUserId()';
            var to = '@Model.Id';
            var post = { From: from, To: to, Text: text, Private: private };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Post","Post", new { httproute = "" })',
                data: JSON.stringify(post),
                contentType: 'application/json',
                datatype: 'json',
                success: function (data) {
                    $('#message').val('');
                    location.reload();
                }
            })
            }
                        else {
                            alert("You need to write a cute message!");
                        }
                        }
                    ;
</script>

<script>
    function Hey() {
        alert('Friend Request sent!');
    }
</script>

<script>
    function Poke() {
        alert('Poked!');
    }
</script>

<script>
    function PrivateLabel()
    {
        var name = '@Model.Name';
        if ($("#privatemessage").is(':checked')) {
            $("#lblPrivate").text("Only" + " " + name + " " + "can read this Message.");
        }
        else {
            $("#lblPrivate").text("Everyone can read this Message.");
        }
    }
</script>




