@using Microsoft.AspNet.Identity
@model SeniorDating.Models.ApplicationUser
@{
    /**/

    ViewBag.Title = "Profile";
}

<div class="container-fluid">
    <h2>@Html.DisplayFor(m => m.Name)</h2>
</div>
@if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
{
    <span class="right">
        <a href="@Url.Action("EditProfile", "Profil", new { id = User.Identity.GetUserId() })">
            Edit Profile
        </a>
    </span>

}


<br>

<div>

    <img height="200" width="200" src="@Url.Action("Image", "Profil", new { Id = Model.Id })" />

    @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
    {
        using (Html.BeginForm("Picture", "Profil", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="file" name="upload" />
            <input type="submit" value="Upload Picture" />
        }
    }
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Age</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Age)</div>
            <div class="panel-heading">Gender</div>
            <div class="panel-body">@Html.DisplayFor(m => m.Gender)</div>
            <div class="panel-heading">Looking for</div>
            <div class="panel-body">@Html.DisplayFor(m => m.LookingFor)</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
                @Html.DisplayFor(m => m.About)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
             <div class="panel-heading">Messages:</div>
                <div class="panel-body">


                @Html.Partial("../Post1/Index", new SeniorDating.Controllers.PostIndexViewModel(Model.Id))
                    </div>
            </div>
    </div>
</div>

<script>
                function addPost() {
                    var Text = $('#Text').val();
                    var Sender = '@User.Identity.GetUserId()';
                    var Reciever = '@Model.Id';
                    var newPost = {FromUsername: Sender, ToUsername: Reciever, Text: Text};
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Post","Post", new { httproute = "" })',
                            data: JSON.stringify(newPost),
                            contentType:'application/json',
                            datatype: 'json',
                            success: function (data) {
                                $('#Text').val('');
                                location.reload();
                            }
                        })
                    };
</script>
<textarea id="Text" rows="5" cols="500" style="width:256px"></textarea><br />
<input type="button" value="Send Message" onclick="addPost()" />



