@model SeniorDating.Models.ApplicationUser

@{
    ViewBag.Title = "Friends";
}

<h2>Friend Requests:</h2>
<div>
    @foreach (var request in Model.FriendRequests)
        {
            <div>
                <h1>
                    <a href="@Url.Action("OtherProfiles", "Profil", new { id = request.Id })">
                        @request.Name
                    </a>
                </h1>
                <div>
                    <button onclick="location.href='@Url.Action("AcceptRequest", "Friend", new { id = request.Id })'">Accept</button>
                    <button onclick="location.href='@Url.Action("DeclineRequest", "Friend", new { id = request.Id })'">Ignore</button>
                </div>
            </div>
        }
    
</div>

<div>
    <h2>Friends:</h2>
         @foreach (var friend in Model.Friends)
        {
            <div>
             
                <h1>
                    <a href="@Url.Action("OtherProfiles", "Profil", new { id = friend.Id })">
                        @friend.Name
                    </a>
                </h1>
            </div>
        }
</div>