@model SeniorDating.Controllers.PostIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Posts.Single().Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Posts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From.UserName) : @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            </td>
    </tr>
}

</table>
